.productContainer {
    background-position: center;
    background-size: cover;
    width: 100%;
    border-radius: 1rem;
    display: flex;
    overflow: hidden;
}

.product {
    background: linear-gradient(to right, #0D0D0D, transparent);
    color: #F2F2F2;
    width: 100%;
    padding: 2.5rem 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.product>h1 {
    font-size: 60px;
    font-weight: 400;
    text-wrap: wrap;
}

.content {
    backdrop-filter: blur(10px) saturate(151%);
    -webkit-backdrop-filter: blur(10px) saturate(151%);
    background-color: rgba(17, 25, 40, 0.35);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}

@media (max-width: 800px) {
    .productContainer {
        width: 90%;
        margin: 0 auto;
    }
    .product {
        background: linear-gradient(to bottom, #0D0D0D, transparent);
        flex-direction: column;
        padding: 0;
    }
    .product>h1 {
        text-align: center;
    }
    .content {
        border-radius: 0;
        width: 100%;
    }
}