@keyframes hide {
    from {
        visibility: visible;
        opacity: 1;
    } to {
        opacity: 0;
        visibility: hidden;
    }
}

.container {
    background-color: rgba(13, 13, 13, 0.6);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    height: auto;
    padding: 1.5rem 0;
    width: 100vw;
    z-index: 999;

    display: flex;
    /* flex-wrap: wrap-reverse; */
    align-items: center;
    justify-content: space-between;

    visibility: hidden;
    animation: hide .3s ease-out;
    transition: all .3s ease-out;
}

.container:hover {
    background-color: rgba(13, 13, 13, 0.9);
}

@keyframes show {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.show {
    animation: show .5s ease-out;
    visibility: visible;
}

.container>div {
    margin: 0 5rem;
    display: flex;
    gap: 5rem;
}

.container>div>span>a>svg {
    fill: #F2F2F2;
    width: auto;
    height: 60px;
}

.container>div>span>a>svg:hover {
    fill: white;
}

@media (max-width: 800px) {
    .container {
        justify-content: center;
    }
    .container>div {
        gap: 3.5rem;
    }
}

@media (max-width: 400px) {
    .container {
        flex-wrap: wrap-reverse;
        gap: 1rem;
    }
    .container>div {
        gap: 2.5rem;
    }
    .container>div>span>a>svg {
        height: 50px;
    }
}