.container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.container>h3 {
    margin: 0;
    font-size: 24px;
    font-weight: 300;
}

.container>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-top: 2px #404040 solid;
    transition: all .3s ease-out;
}

.container>ul>li {
    font-weight: 400;
    margin: 0;
    padding: 0.5em 1em;
    transition: background-color .2s ease-out;
}

.container>ul>li:hover {
    background-color: white;
    color: black;
}