/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); */

/* @keyframes presentation {
    0% {
        background-image: url(../../../assets/home/bg-pic-1_1.webp);
    }

    25% {
        background-image: url(../../../assets/home/bg-pic-2_1.webp);
    }

    50% {
        background-image: url(../../../assets/home/bg-pic-3.webp)
    }

    75% {
        background-image: url(../../../assets/home/bg-pic-4.webp);
    }

    100% {
        background-image: url(../../../assets/home/bg-pic-1_1.webp);
    }
} */

.home {
    background-position: center;
    background-size: cover;
    background-color: cornflowerblue;
    width: 95vw;
    height: 90vh;
    margin: 0 auto;
    border-radius: 50px;
    overflow: hidden;
    /* animation: presentation 15s infinite; */
}

.content {
    background: linear-gradient(to right, rgb(0, 0, 0), transparent);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2.5rem;
}

.content>h1 {
    width: 50%;
    margin: 0 0 0 2.5rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 12vw;
    text-wrap: wrap;
    line-height: 1;
}

.subTitle {
    margin: 0 0 0 3rem;
    font-size: 24px;
}