@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.home {
    background-image: url(../../../assets/home/bg-pic-3.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.content {
    background: linear-gradient(to right, rgb(0, 0, 0), transparent);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2.5rem;
}

.content>h1 {
    width: 50%;
    margin: 0 0 0 2.5rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 12vw;
    text-wrap: wrap;
    line-height: 1;
}

.subTitle {
    margin: 0 0 0 3rem;
    font-size: 24px;
}