@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-one: #F2F2F2;
  --color-two: #A6A6A6;
  --color-three: #8C8C8C;
  --color-four: #404040;
  --color-five: #0D0D0D;
  
  font-family: "Urbanist", sans-serif;
  line-height: 1.5;
  font-weight: 300;

  color-scheme: light dark;
  color: var(--color-one);
  background-color: var(--color-one);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}